img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.Titre1{

    color: red;
}
.Titre2{
    color: aqua;
}
.Titre3{
    color: black;
}
h1{

    font-size: 15px;
}
@media screen and (max-width : 400px){
    h1{
        font-size: 5px;
    }  
}
@media screen and (min-width : 400px) and (max-width : 1000px){
    h1{

        font-size: 25px;
    }  
}

